
    <div class="col-md-12 p-2">
        <button type="button" class="btn  btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-save" (click)="nuevoproducto()"></i> Nuevo Producto</button>
        <table class="table mt-2 table-bordered table-light">
            <thead class="table-dark">
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Categoria</th>
                <th>Precio De Venta</th>
                <th>Stock</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Activo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productolist">
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.codigo}}</td>
                <td>{{item.categoria.nombre}}</td>
                <td>{{item.precioVenta}}</td>
                <td>{{item.stock}}</td>
                <td>{{item.descripcion}}</td>
                <td (click)="showImageModal(item.imagen)">
                  <img [src]="item.imagen" alt="Imagen del producto" style="max-height: 50px; width: auto; cursor: pointer;" />
              </td>
                <td>{{item.activo}}</td>
                
      
                <td>
                    <button type="button" class="btn btn-warning btn-sm"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectItem(item)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(item.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-light text-dark" (click)="cambioestado(item.id)">
                      <fa-icon [icon]="item.activo ? faTimes : faCheck" [ngClass]="{'text-danger': item.activo, 'text-success': !item.activo}"></fa-icon>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    
   
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 *ngIf="!update"  class="modal-title fs-5">Nuevo Producto</h1>
              <h1 *ngIf="update" class="modal-title fs-5">Actualizar Producto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"(click)="nuevoproducto()"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="productoFrom">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" formControlName="nombre">
                          <p style="color: red; font-size: 12px;" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">Nombre requerido</p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Codigo</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" formControlName="codigo">
                        </div>
                    </div>
                    <div class="mb-3 row">
                      <label class="col-sm-2 col-form-label">Categoria</label>
                      <div class="col-sm-10">
                        <select class="form-select" formControlName="categoria">
                          <ng-container *ngIf="productoFrom.get('categoria') as selectedCategory">
                            <option *ngFor="let category of categorialist" [value]="category.id" [selected]="selectedCategory.value === category.id">
                              {{ category.nombre }}
                            </option>
                          </ng-container>
                        </select>
                        <p style="color: red; font-size: 12px;" *ngIf="categoria?.invalid && (categoria?.dirty || categoria?.touched)">Categoria requerido</p>
                        
                        
                      </div>
                    </div>
                    
                  
                  
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Precio Venta</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" formControlName="precioVenta">
                          <p style="color: red; font-size: 12px;" *ngIf="precioVenta?.invalid && (precioVenta?.dirty || precioVenta?.touched)">Precio requerido</p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Stock</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" formControlName="stock">
                          <p style="color: red; font-size: 12px;" *ngIf="stock?.invalid && (stock?.dirty || stock?.touched)">Stock requerido</p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Descripcion</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" formControlName="descripcion">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Imagen</label>
                        <div class="col-sm-10">
                          <input type="file" class="form-control" (change)="onFileSelected($event)" formControlName="imagen">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Activo</label>
                        <div class="col-sm-10">
                          <select class="form-select" formControlName="activo">
                            <option [value]="'1'">true</option>
                            <option [value]="'0'">false</option>
                          </select>
                          <p style="color: red; font-size: 12px;" *ngIf="activo?.invalid && (activo?.dirty || activo?.touched)">Estado requerido</p>
                        </div>
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"(click)="nuevoproducto()">Cerrar</button>
              <button *ngIf="!update"  type="button" class="btn btn-success btn-sm"(click)="save()">Guardar</button>
              <button *ngIf="update" data-bs-dismiss="modal"  type="button" class="btn btn-warning btn-sm" (click)="updateProducto()">Actualizar</button>
            </div>
          </div>
        </div>
      </div>

      <ng-template #imageModal>

        <div class="modal-header">
        </div>
        <div class="modal-body">
          <img [src]="selectedImage" alt="Imagen del producto" class="img-fluid" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        </div>
      </ng-template>
      